@font-face {
  font-family: "iconfont"; /* Project id 4929653 */
  src: url('iconfont.ttf?t=1747965176279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\ec51";
}

